@model Movie

@{
	ViewData["Title"] = "Create movie";
}

<form method="post" enctype="multipart/form-data">
	<div class="border p-3 mt-4">
		<div class="row pb-2">
			<h2 class="text-success">Create movie</h2>
			<hr/>
		</div>
		<div class="mb-3 row">
			<label>Movie cover image</label>
			<input asp-for="imageUrl" type="file" name="ImageFile" class="form-control-file" accept="image/*" required />
		</div>
		<div class="mb-3 row">
			<label>Movie title</label>
			<input asp-for="title" class="form-control" required />
		</div>
		<div class="mb-3 row">
			<label>Movie genre</label>
			<input asp-for="genre" class="form-control" required />
		</div>
		<div class="mb-3 row">
			<label>Movie director</label>
			<input asp-for="director" class="form-control" required />
		</div>
		<div class="mb-3 row">
			<label>Date of release</label>
			<input asp-for="dateOfRelease" class="form-control" required />
		</div>
		<div class="row">
			<div class="col-6 col-md-3">
				<button type="submit" class="btn btn-success form-control">Create</button>
			</div>
			<div class="col-6 col-md-3">
				<a asp-controller="Movie" asp-action="Index" class="btn btn-outline-dark border form-control">Back to movies</a>
			</div>
		</div>
	</div>
</form>